<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <h1>Welcome back</h1>
    <p>Thank you for registering with us.</p>
    <p>Your username is: <%= username %></p>
    <p>Your password is: <%= password %></p>
    <p>Please login here:</p>
    <a href="<%= activationLink %>">Click here to activate your account</a>
    <p>If you did not request this, please ignore this email.</p>
    <p>Best regards,<br>Your Company</p>
</body>
</html>
