.payment_icon_img {
    height: 20px;
    margin-left: 20px;
  }
  .radioButton {
    z-index: 1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  .radioButtonText {
    cursor: pointer;
    font-size: 20px;
    line-height: 1.25;
    color: rgb(70, 70, 87);
  }
  .choose_payment_heading {
    margin-top: 30px;
    margin: 2em 0 1em;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.26;
    color: #3e3e52;
  }
  .banner_chip {
    display: flex;
    align-items: center;
  }
  .banner_text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: rgb(126, 126, 140);
  }
  .UpiPaymentText {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: #747f8d;
    margin: 1em 0;
  }
  .paymentIconList{
    display: flex;
  }
  .payment__fullContainer_leftContainer_eachPaymentInstruments {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    padding: 1.3em;
    display: flex;
  
    -moz-box-pack: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .payment__fullContainer_leftContainer_eachPaymentInstruments_new {
    margin-left: 10px;
    border-radius: 2px;
    background-color: rgb(56, 184, 124);
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 5px 5px;
  }
  .payment__fullContainer_rightContainer_trip_container {
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 11px 0px;
    padding: 20px 20px;
    border: none;
  }
  .payment__fullContainer_rightContainer_fair_container {
    margin: 30px 0px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 11px 0px;
    padding: 20px 30px;
    border: none;
  }
  .travel_operator_info {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: start;
    justify-content: flex-start;
    flex: 1 1 0%;
  }
  .travel_title {
    color: rgb(216, 78, 85);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    padding-right: 3%;
  }
  .travel_specification {
    color: rgb(116, 127, 141);
    font-size: 14px;
    line-height: 1.33;
  }
  .line {
    height: 1em;
    border-bottom: 0.5px solid rgb(222, 222, 222);
    margin-bottom: 1em;
  }
  .passangerInfo {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    background-color: rgb(250, 229, 229);
    padding: 1.12em;
    min-height: 1.76em;
    -moz-box-pack: center;
  }
  .passangerName {
    color: rgb(116, 127, 141);
    font-size: 14px;
    line-height: 1.33;
    font-weight: 400;
    margin-left: 10px;
  }
  .payment_banner_icon_img {
    height: 25px;
    margin-left: 20px;
  }
  .paymentIconList{
    display: flex;
  }
  .icons{
    width:auto;
    height:auto
  }