@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar{
    background: white;
    width: 0;
}
*{
    box-sizing: border-box;
}
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .custom-alert {
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
